.vscode/
__pycache__/
mnist/dataset/*.gz
mnist/logs/
mnist_fashion/dataset/*.gz
mnist_fashion/logs/
mnist_fashion/logs_hp/
cifar10/dataset/*.gz
cifar10/dataset/cifar-10-batches-py/
cifar10/logs/
cifar10/logs_hp/
cifar100/dataset/*.gz
cifar100/dataset/cifar-100-python/
cifar100/logs/
cifar100/logs_hp/
cifar100/models/
food101N/dataset/
food101N/logs/
food101N/logs_hp/
food101N/models/
clothing1M/dataset/
clothing1M/logs/
clothing1M/logs_hp/
clothing1M/models/
clothing1M50k/dataset/
clothing1M50k/logs/
clothing1M50k/logs_hp/
clothing1M50k/models/

*.bat
*.sh

*.pt

*.tar
*.rar
*.zip
tmp.*